* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 0; 
    font: 13px 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px 0 15px ;
	background: #000 url('../img/background.png') repeat-x top left;
	color: black;
}

.container_12 {
padding:36px 0 32px;
}